  body{
    background-color:rgb(72, 30, 127)
    
}

* {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 20px;
}

table {
    
    background: #454545;
   
    padding: 0px;
    border-radius: 10px;
    border-spacing: 5px;
    height: 200px;
    display: flex;
    padding: top 100px; 
     
     
     justify-content: center;
     
}

input {
    background: #eaeaea;
    border: 0;
    height: 20px;
    padding: 2px 5px;
}

button {
    background-color: #eaeaea;
    border: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

